<div>
    <h1 class="header">Create Product</h1>
  </div>
<div class="card">
    <div class="card-header">
    <h2 class="card-title">New Product</h2>
    </div>
    <div class="card-body">
    <div class="item-name">
        <label>Name: </label>
        <input placeholder="Product Name"/>
    </div>
    <div class="item-price">
        <label>Price: </label>
        <input placeholder="Product Price"/>
    </div>
    <div class="item-category">
        <!-- Info pop up with category ids -->
        <label>Category id: </label>
        <input placeholder="Product Category"/>
    </div>
    <div class="item-sku">
        <label>SKU: </label>
        <input placeholder="Product SKU"/>
    </div>
    <div class="item-material">
        <label>Material: </label>
        <input placeholder="Product Material"/>
    </div>
    </div>
    <div class="card-body">
    <div class="item-cart-desc">
        <label>Cart Description: </label>
        <input placeholder="Cart Description"/>
    </div>
    <div class="item-desc">
        <label>Description: </label>
        <input placeholder="Description"/>
    </div>
    <div class="item-desc">
        <label>Thumb: </label>
        <input placeholder="Product Thumb"/>
        <img src="{{item.thumb}}" alt="{{item.name}} Image">
    </div>
    </div>
    <div class="card-body">
    <div class="item-live">
        <label>Live: </label>
        <input placeholder="Product Live"/>
    </div>
    <div class="item-in-stock">
        <label>In Stock: </label>
        <input placeholder="Product in Stock"/>
    </div>
    <div class="item-stock">
        <label>Stock: </label>
        <input placeholder="Amount in Stock"/>
    </div>
</div>  <!-- Testing -->
  </div>
  <button class="btn btn-primary" (click)="logProduct()">Log Product</button>   
  <button class="btn btn-primary" (click)="updateProduct()">Update Product</button> 
  <button class="btn btn-primary" (click)="goBack()">Back</button> 