<app-navbar></app-navbar>
<app-admin-sidebar></app-admin-sidebar>
<div class="page-body">
  <div>
    <h1 class="header">Product Details</h1>
  </div>
  <div *ngFor="let item of product">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">{{item.name}}</h2>
        <button class="btn btn-primary back" (click)="goBack()">Back</button>         
      </div>
      <div class="card-body">
        <div class="item-name">
          <label>Name: </label>
          <input class="form-control" [(ngModel)]="item.name" placeholder="Product Name"/>
        </div>
        <div class="item-id">
          <label>ID: </label>
          <p class="non-edit-value">{{item.id}}</p>
        </div>
        <div class="item-last-update">
          <label>Last Updated: </label>
          <p class="non-edit-value">{{item.lastUpdate}}</p>
        </div>
        <div class="item-price">
          <label>Price: </label>
          <input class="form-control" [(ngModel)]="item.price" placeholder="Price in USD"/>
        </div>
        <div class="item-category">
          <label>Category: </label>
          <div class="radio">            
            <input type="radio" [(ngModel)]="item.categories_id" value='1' name="categories_id"/> Baby
            <input type="radio" [(ngModel)]="item.categories_id" value='2' name="categories_id"/> Kitchen
            <input type="radio" [(ngModel)]="item.categories_id" value='3' name="categories_id"/> Home
          </div>
          <br>
        </div>
        <div class="item-sku">
          <label>SKU: </label>
          <input class="form-control" [(ngModel)]="item.SKU" placeholder="Product SKU"/>
        </div>
        <div class="item-weight">
          <label>Weight: </label>
          <input class="form-control" [(ngModel)]="item.weight" placeholder="Weight in lbs."/>
        </div>
        <div class="item-material">
          <label>Material: </label>
          <input class="form-control" [(ngModel)]="item.material" placeholder="Product Material"/>
        </div>
        <div class="item-cart-desc">
          <label>Cart Description: </label>
          <input class="form-control" [(ngModel)]="item.cartDesc" placeholder="Cart Description"/>
        </div>
        <div class="item-desc">
          <label>Description: </label>
          <input class="form-control" [(ngModel)]="item.longDesc" placeholder="Description"/>
        </div>
        <div class="item-desc">
          <label>Thumb: </label>
          <input class="form-control" [(ngModel)]="item.thumb" placeholder="Product Thumb"/>
          <img src="{{item.thumb}}">
        </div>
        <div class="item-desc">
          <label>Image: </label>
          <input class="form-control" [(ngModel)]="item.image" placeholder="Product Image"/>
          <img src="{{item.image}}">
        </div>
        <div class="item-live">
          <label>Live: </label>
          <div class="radio">            
            <input type="radio" [(ngModel)]="item.live" value='0' name="live"/> No 
            <input type="radio" [(ngModel)]="item.live" value='1' name="live"/> Yes
          </div>
          <br>
        </div>
        <div class="item-in-stock">
          <label>In Stock: </label>
          <div class="radio">            
            <input type="radio" [(ngModel)]="item.inStock" value='0' name="inStock"/> No
            <input type="radio" [(ngModel)]="item.inStock" value='1' name="inStock"/> Yes
          </div>
          <br>
        </div>
        <div class="item-stock">
          <label>Stock: </label>
          <input class="form-control" [(ngModel)]="item.stock" placeholder="item.stock"/>
        </div>
        <input type="submit" class="btn btn-primary submit" (click)="updateProduct()" value="Save" />
        <input class="btn btn-primary delete" (click)="deleteProduct()" value="Delete" />        
      </div>
    </div>
  </div>
</div>