<div>
  <h1 class="header">Product Details</h1>
</div>
<div *ngFor="let item of product">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">{{item.name}}</h2>
    </div>
    <div class="card-body">
      <div class="item-name">
        <label>Name: </label>
        <input class="form-control" [(ngModel)]="item.name" placeholder="item.name"/>
      </div>
      <div class="item-id">
        <label>ID: </label>
        <p class="non-edit-value">{{item.id}}</p>
      </div>
      <div class="item-last-update">
        <label>Last Updated: </label>
        <p class="non-edit-value">{{item.lastUpdate}}</p>
      </div>
      <div class="item-price">
        <label>Price: </label>
        <input class="form-control" [(ngModel)]="item.price" placeholder="item.price"/>
      </div>
      <div class="item-category">
        <!-- Info pop up with category ids -->
        <label>Category id: </label>
        <input class="form-control" [(ngModel)]="item.categories_id" placeholder="item.categories_id"/>
      </div>
      <div class="item-sku">
        <label>SKU: </label>
        <input class="form-control" [(ngModel)]="item.SKU" placeholder="item.SKU"/>
      </div>
      <div class="item-material">
        <label>Material: </label>
        <input class="form-control" [(ngModel)]="item.material" placeholder="item.material"/>
      </div>
    </div>
    <div class="card-body">
      <div class="item-cart-desc">
        <label>Cart Description: </label>
        <input class="form-control" [(ngModel)]="item.cartDesc" placeholder="item.cartDesc"/>
      </div>
      <div class="item-desc">
        <label>Description: </label>
        <input class="form-control" [(ngModel)]="item.longDesc" placeholder="item.longDesc"/>
      </div>
      <div class="item-desc">
        <label>Thumb: </label>
        <input class="form-control" [(ngModel)]="item.thumb" placeholder="item.thumb"/>
        <img src="{{item.thumb}}" alt="{{item.name}} Image">
      </div>
    </div>
    <div class="card-body">
      <div class="item-live">
        <label>Live: </label>
        <input class="form-control" [(ngModel)]="item.live" placeholder="item.live"/>
      </div>
      <div class="item-in-stock">
        <label>In Stock: </label>
        <input class="form-control" [(ngModel)]="item.inStock" placeholder="item.inStock"/>
      </div>
      <div class="item-stock">
        <label>Stock: </label>
        <input class="form-control" [(ngModel)]="item.stock" placeholder="item.stock"/>
      </div>
    </div>
  </div>
<!-- Testing -->
  <button class="btn btn-primary" (click)="logProduct()">Log Product</button>   
  <button class="btn btn-primary" (click)="updateProduct()">Update Product</button> 
  <button class="btn btn-primary" (click)="goBack()">Back</button>   
</div>
