.navbar {
    color: rgba(255,255,255,.5);    
}

.nav-content {
    float: right;
    margin-right: 12%;    
}

.navbar-text {
    text-align: center;
    margin-right: 40px;
    padding-top: 1rem;
    font-size: 1.2rem;
    color: rgba(255,255,255,.5);        
}

a {
    margin-left: 12%;
    font-size: 2rem; 
    font-weight: 400;   
}

img {
    max-width: 100%;
    max-height: 200px;
    border-radius: .5rem;
}

.card {
    margin-top:  15px;
    padding: 5px;
}

label {
    color: #8a8a8a;
    font-weight: 500;
}

.non-edit-value {
  display: inline-block;
}

.price {
    margin-top: 5%;
}