<div class="card container sidebar">
    <div class="card-body">
        <h4 class="card-title">Store Pages</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLink="/products">Products</a></li>
            <li class="list-group-item"><a routerLink="/categories">Categories</a></li>
            <li class="list-group-item"><a routerLink="/options">Options</a></li>  
            <li class="list-group-item"><a routerLink="/orders">Orders</a></li>        
        </ul>
        <h4 class="card-title">User Pages</h4>        
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLink="/clients">Clients</a></li>
            <li class="list-group-item"><a routerLink="/staff">Staff</a></li>        
        </ul>
    </div>
</div>  