.sidebar {
    width: 13%;
    float: left;
    text-align: center;
}

li {
    padding: 0;
}

a {
    padding: 5px 10px;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    background-color: #eee;
}
a:visited, a:link {
    color: #607D8B;
}
a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
a.active {
    color: #039be5;
}