.sidebar {
    width: 13%;
    float: left;
    text-align: center;
}

.card {
    padding: 0;
}

.card-body {
    padding: 0;
}

.card-title {
    margin-bottom: 0;
}

h4 {
    line-height: 3rem;  
    font-size: 2rem;
    padding-top:3px;  
}

li {
    padding: 0;
    width: 100%;
}

a {
    font-size: 1.5rem;
    line-height: 2.5rem;    
    padding: 5px 10px;
    width: 100%;
    text-decoration: none;
    display: inline-block;
}

a:visited, a:link {
    color: #607D8B;
}

a:hover {
    color: rgb(61, 78, 87);
    background-color: #eee;    
}

a.active {
    color: #039be5;
}