.header {
    text-align: center;
    margin: 20px 0 10px 0;
}

.page-body {
    margin-left: 15%;
    margin-right: 10%;
    margin: 10px 10% 0 15%;
}

h1 {
    display: inline-block;    
}

.create {
    float: right;
    margin-top: 1%;    
}