<div class="container">
  <div class="header">
    <h1>Current Products</h1>
  </div>
  <table class ="table table-striped">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>SKU</th>
      <th>Live</th>
      <th>In Stock</th>
      <th>Edit</th>
    </thead>
    <tbody>
      <tr id={{product.id}} *ngFor="let product of products">
          <td>{{ product.id}}</td>
          <td>{{ product.name }}</td>
          <td>${{product.price}}</td>
          <td>{{product.SKU}}</td>
          <td>{{product.live}}</td>
          <td>{{product.inStock}}</td>
          <td><button (click)="onSelect(product)" class="btn btn-success edit" id={{product.id}} >Edit</button></td>
            
      </tr>
      <!-- dummy products -->
      <tr>
          <td>ID</td>
          <td>Name</td>
          <td>$5.00</td>
          <td>No SKU Assigned</td>
          <td>Live</td>
          <td>11</td>
          <td><button class="btn btn-success edit" >Edit</button></td>
      </tr>
      <tr>
          <td>ID</td>
          <td>Name</td>
          <td>$65.00</td>
          <td>No SKU Assigned</td>
          <td>Not Live</td>
          <td>4</td>
          <td><button class="btn btn-success edit">Edit</button></td>
      </tr>
      <tr>
          <td>ID</td>
          <td>Name</td>
          <td>$48.00</td>
          <td>No SKU Assigned</td>
          <td>Live</td>
          <td>23</td>
          <td><button class="btn btn-success edit">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
<app-product-detail [product]="selectedProduct"></app-product-detail>
