.categories {
    width: 100%;
    /* margin-top: 125px; */
    margin:125px 13%;
}

.card {
    display: inline-block;
    max-width: 25%;
    margin-right: 20px;
}

img {
    max-width: 100%;
    height: 330px;
}